@model Product

<form method="post">
	<div class="border p-3 mt-4">
		<div class="mb-3">
			<h2 class="text-primary">
				Edit Product
			</h2>
		</div>
		<hr />
		<div asp-validation-summary="ModelOnly"></div>
		<input asp-for="Id" hidden /> @* Retrieve the id without displaying *@

		<div class="mb-3 row p-1">
			@* asp-for automatically detect type and fill out the label *@
			<label asp-for="Name" class="p-0"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Description" class="p-0"></label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			@* asp-for automatically detect type and fill out the label *@
			<label asp-for="Brand" class="p-0"></label>
			<input asp-for="Brand" class="form-control" />
			<span asp-validation-for="Brand" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="ListPrice" class="p-0"></label>
			<input asp-for="ListPrice" class="form-control" />
			<span asp-validation-for="ListPrice" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			@* asp-for automatically detect type and fill out the label *@
			<label asp-for="Price" class="p-0"></label>
			<input asp-for="Price" class="form-control" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Price20" class="p-0"></label>
			<input asp-for="Price20" class="form-control" />
			<span asp-validation-for="Price20" class="text-danger"></span>
		</div>

		<div class="row">
			<div class="col-6 col-md-3">
				<button class="btn btn-primary form-control" type="submit">Update</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">
					Back to List
				</a>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
		// For client side validation
	}
}

