@model int

<div class="container text-center">
    <h1>Payment has been made successfully!</h1>
    <h2>Order Number: @Model</h2>
    <a asp-action="Details" asp-route-orderId="@Model" class="btn btn-primary">Back to Order Details</a>
</div>
